<div class="d-flex flex-column align-items-center justify-content-center" style="text-align: center; margin-top: 20px; height: 50vh;">
    <img src="~/Public/img/icons/icons8-check-100.png" style="width: 100px; height: 100px; margin-bottom: 10px" />
    <p>Cập nhật email thành công.</p>
</div>

