<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row bg-secondary py-2 px-xl-5">
        <div class="col-lg-6 text-center text-lg-left">
            <div class="d-inline-flex align-items-center">
                <a class="text-primary font-weight-bold border border-white px-3 mr-1" href="@Url.Action("Index", "Home")" style="text-decoration: none">QVD</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="">Câu hỏi</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="">Trợ giúp</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark px-2" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-dark pl-2" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 40px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Danh mục</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 10;">
                <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">Bút viết <i class="fa fa-angle-down float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                            <a href="" class="dropdown-item">Bút bi</a>
                            <a href="" class="dropdown-item">Bút màu</a>
                            <a href="" class="dropdown-item">Bút dạ quang</a>
                        </div>
                    </div>
                    <a href="" class="nav-item nav-link">Máy tính</a>
                    <a href="" class="nav-item nav-link">Giấy in</a>
                    <a href="" class="nav-item nav-link">Sách tiếng anh</a>
                </div>
            </nav>
        </div>
        <div class="col-lg-4 col-4 text-left">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-5 col-8 text-right">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 justify-content-end">
                <a href="@Url.Action("Login", "Auth")" id="login-item" class="nav-item nav-link">Đăng nhập</a>
                <a href="@Url.Action("Register", "Auth")" id="register-item" class="nav-item nav-link">Đăng ký</a>
                <img class="rounded-circle ml-2" alt="Profile Image" id="profile-image" style="width: 25px; height: 25px; object-fit: cover; margin-right: 5px; visibility: hidden">
                <span id="user-info" style="display: none;"></span>
                <a class="nav-item nav-link" id="logout-item" href="javascript:void(0);" onclick="logout()" style="display: none;">Đăng xuất</a>
                <a href="@Url.Action("Index", "Cart")" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">0</span>
                </a>
            </nav>
        </div>
    </div>
</div>
<!-- Topbar End -->
